html{
    background-color: #e7ffff;
}

body {
    margin: 60px auto;
    width: 70%;
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: inherit;
    list-style: none;
    font-weight: bold;

}

footer ul{
    font-size: large;
    font-family: 'Helvetica';
    text-align: center;
    color: #4a4949;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 70px;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #4c4949;

}
a:hover {
    transition-duration: 1s;
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 3px solid #6e93a7;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.image{
    border:3px solid #6e93a7;
}
.navback {    
    text-align: left;
    width: 100%;
    border: 0px solid; 
}
